@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.login,
.signup {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  background: none;
  width: 90px;
  height: 35px;
}
.header {
  background-image: url(../image/bg-mobile.png);
  background-size: cover;
  text-align: center;
  background-color: black;
  padding-top: 39px;
}
@media (max-width: 767px) {
  .nav-column {
    margin-bottom: 118px;
  }
  .wrapper-nav {
    margin-bottom: 35px;
  }
  .header {
    padding-top: 20px;
  }
  .nav-list {
    padding-right: 22px;
  }
  .partner-row {
    margin-bottom: 20px;
  }
}
.signup {
  border: 2px solid white;
  border-radius: 18px;
}
.nav-list {
  display: flex;
  justify-content: center;
}
.nav-list:not(:last-child) {
  margin-right: 120px;
}
.logotype {
  display: block;
  width: max-content;
  margin: 0 auto;
  font-size: 20px;
  letter-spacing: 0.8px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  text-transform: uppercase;
}

.header-wrapper {
  text-align: center;
}
.header-title {
  font-size: 29px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 1.1;
}
.header-description {
  font-size: 19px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}
.find-btn {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  width: 280px;
  height: 40px;
  border-radius: 20px;
  background-color: #ff4e50;
  margin-bottom: 140px;
}

@media (min-width: 768px) {
  .header {
    background-image: url(../image/bg-tabl.png);
    height: 700px;
  }
  .header-title {
    font-size: 52px;
    line-height: 1.2;
    letter-spacing: -1.5px;
    margin-bottom: 28px;
  }
  .header-description {
    font-size: 24px;
    letter-spacing: normal;
    margin-bottom: 35px;
  }
  .wrapper-nav {
    margin-bottom: 141px;
  }
  .find-btn {
    width: 220px;
  }
}
@media (min-width: 992px) {
  .header {
    background-image: url(../image/bg-desktop.png);
  }
}
.title-partner {
  font-size: 23px;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}
.main {
  padding-top: 104px;
  padding-bottom: 50px;
}
.partner-img {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.partner-list {
  text-align: center;
}
.img-wrapper::after {
  display: block;
  content: "";
  background-image: url(../image/tv01.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff4e50;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border: 4px solid #ffffff;
  border-radius: 50%;
}
.img-flask::after {
  background-image: url(../image/flask02.png);
  background-color: #ffa507;
}
.img-cup::after {
  background-image: url(../image/cup03.png);
  background-color: #1cd7ad;
}
.img-fly::after {
  background-image: url(../image/fly04.png);
  background-color: #4e73db;
}
.img-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .img-wrapper {
    margin-bottom: 20px;
  }
}
.list-name {
  font-size: 14px;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 15px;
}
.list-description {
  font-size: 14px;
  color: #666666;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
  width: 220px;
  display: block;
  margin: 0 auto;
}
.partner-btn {
  font-size: 14px;
  color: #ff4e50;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  width: 280px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 2px solid #ff4e50;
  display: block;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .partner-list-item {
    margin-bottom: 28px;
  }
}
@media (min-width: 768px) {
  .title-partner {
    margin-bottom: 35px;
  }
  .img-wrapper {
    margin-bottom: 20px;
  }
  .partner-list-item:nth-child(-n + 2) {
    margin-bottom: 50px;
  }
  .partner-list {
    margin-bottom: 39px;
  }
  .main {
    padding-top: 70px;
  }
}
@media (min-width: 960px) {
}
